@{
    ViewBag.Title = "Home Page(CeSev v1.1)";
}

<script src="~/js/echarts-all.js"></script>

<style>

    #divChart {
        height: 600px;
    }
</style>

<div class="jumbotron">

    <h3>환율</h3>
    <div id="divChart"></div>

</div>


<script>

    $(document).ready(function () {

        InitChart();
        
    });



    function InitChart() {

        var chart = echarts.init(document.getElementById('divChart'));
        var url = '@Url.Action("GetExchageData", "Stock")';

        $.post(url, {}, function (pData) {

            var xAxisData = [];
            var valData = [];

            $.each(pData, function (index, item) {

                if (item.TIME != null) {
                    xAxisData.push(item.TIME);
                    valData.push(item.VALUE)
                };
            });

            chart.setOption({

                tooltip: {
                    trigger: 'axis'
                },

                xAxis: {
                    type: 'category',
                    data: xAxisData
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: valData,
                    type: 'line'
                    //type: 'bar'
                }]
            });
        });
    }


</script>
